
<!DOCTYPE html>
<html>
  <style>
      form {float: left;}
  </style>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Contacts Details: {{contact.name}}</title>
  </head>
  <body>
    <h2>Contact Details: {{contact.name}} </h2>

    <form action="{% url 'index' %}", method="get">
        <input type='submit' value='<Back'>
    </form>
    <br />
    <p>

    Name: {{contact.name}} <br>
    Email: {{contact.email}}<br>
    Address: {{contact.address}}<br>
    Notes: {{contact.notes}}<br>


    <form action="{% url 'edit_contact' contact.id %}", method="get">
        <input type='submit' value='Edit Contact'>
    </form>
    <form action="{% url 'add_milestone' contact.id %}", method="get">
        <input type='submit' value='Add Milestone'>
    </form>
    <form action="{% url 'add_event' contact.id %}", method="get">
        <input type='submit' value='Add Event'>
    </form>
    </p><br /><br />

    {% if milestones %}
        <br>Important Dates<br>----------------------<br>
        {% for milestone in milestones %}
            {{milestone.description}}: 
            ({{milestone.date}})<br />
            <form action="{% url 'edit_milestone' milestone.id %}", method="get">
                {% csrf_token %}
                <input type="submit" value="Edit">
            </form>
            <form action="{% url 'delete_milestone' milestone.id %}", method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form><br /><br />
        {% endfor %}
    {% endif %}


    {% if events %}
        <br>Events<br>---------<br>
        {% for event in events %}
            Date: {{event.date}} <br>
            Description: {{event.description}} <br>
            Notes: {{event.notes}} <br />
            <form action="{% url 'edit_event' event.id %}", method="get">
                {% csrf_token %}
                <input type="submit" value="Edit Event"><br>
            </form>
            <form action="{% url 'delete_event' event.id %}", method="post">
                {% csrf_token %}
                <input type="submit" value="Delete Event"><br><br>
            </form><br /><br /><br />
        {% endfor %}
    {% endif %}



  </body>
</html>
