
{% extends "contacts_app/base.html" %}
{% block title %}{{contact.name}}{% endblock title %}

{% block content %}
    <h2>{{contact.name}} </h2>

    <div class="contactinfo">
        <b>{{contact.name}}</b> <br />
        <i>{{contact.email}}</i> <br />
        <p>{{contact.address}}</p>
        <p>{{contact.notes}}</p>
    </div>
    <form class="actions" action="{% url 'index' %}", method="get">
        <button class="nav"> &ltBack </button>
    </form>
    <form class="actions" action="{% url 'add_event' contact.id %}", method="get">
        <button class="nav">Add Event</button>
    </form>
    <form class="actions" action="{% url 'add_milestone' contact.id %}", method="get">
        <button class="nav"> Add Milestone </button>
    </form>
    <form class="actions" action="{% url 'edit_contact' contact.id %}", method="get">
        <button class="nav"> Edit Contact </button>
    </form>

    <br /><br />

    {% if milestones %}
        <h3>Important Dates</h3>
        {% for milestone in milestones %}
            <form action="{% url 'edit_milestone' milestone.id %}", method="get">
                <button class='pagewidth'>
                    <b>{{milestone.description}}</b> <br>
                    {{milestone.date}}
                </button>
            </form>
        {% endfor %}
    {% endif %}


    {% if events %}
        <h3>Events</h3>
        {% for event in events %}
            <form action="{% url 'edit_event' event.id %}", method="get">
                <button class="pagewidth">
                    <b>{{event.date}}:</b> <i>{{event.description}}</i>
                    <p>{{event.notes}}</p>
                </button>
            </form>
        {% endfor %}
    {% endif %}
{% endblock content %}
