
<!DOCTYPE html>
<html>
  <style>
        form.actions {float: left;}

        button {
            margin: 2px;
            padding: 5px;
        }
        button.event {
            text-align: left;
            width: 98%;
            margin: 2px;
            padding: 5px;
        }

        div.contactinfo {
            width: 95%;
            margin: 2px;
            padding: 5px;
            border: 1px grey solid;
            border-radius: 8px;
            color: #222222;

        }
  </style>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{contact.name}}</title>
  </head>
  <body>
    <h2>{{contact.name}} </h2>

    <div class="contactinfo">
        <b>{{contact.name}}</b> <br />
        <i>{{contact.email}}</i> <br />
        <p>{{contact.address}}</p>
        <p>{{contact.notes}}</p>
    </div>
    <form class="actions" action="{% url 'index' %}", method="get">
        <button> &ltBack </button>
    </form>
    <form class="actions" action="{% url 'add_event' contact.id %}", method="get">
        <button>Add Event</button>
    </form>
    <form class="actions" action="{% url 'add_milestone' contact.id %}", method="get">
        <button> Add Milestone </button>
    </form>
    <form class="actions" action="{% url 'edit_contact' contact.id %}", method="get">
        <button> Edit Contact </button>
    </form>

    <br /><br />

    {% if milestones %}
        <h3>Important Dates</h3>
        {% for milestone in milestones %}
            <form action="{% url 'edit_milestone' milestone.id %}", method="get">
                <button class='event'>
                    <b>{{milestone.description}}</b> <br>
                    {{milestone.date}}
                </button>
            </form>
        {% endfor %}
    {% endif %}


    {% if events %}
        <h3>Events</h3>
        {% for event in events %}
            <form action="{% url 'edit_event' event.id %}", method="get">
                <button class='event'>
                    <b>{{event.date}}:</b> <i>{{event.description}}</i>
                    <p>{{event.notes}}</p>
                </button>
            </form>
        {% endfor %}
    {% endif %}
  </body>
</html>
