
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Log for {{contact.name}}</title>
  </head>
  <body>
    <h2> Event log for {{contact.name}} </h2>
    <a href="{% url 'contact_details' contact.id %}"> <- Back </a></br>

    {% if events %}
        {% for event in events %}
            <p>
                {{event.date}} <br>
                {{event.description}} <br>
                {{event.notes}} <br><br>
            </p>
        {% endfor %}
    {% else %}
        <p>No events for {{contact.name}} </p>
    {% endif %}
  </body>
</html>
