{% extends "contacts_app/base.html" %}
{% block title %}Contacts Tracker{% endblock title %}

{% block content %}
    <h2> Welcome! </h2>

    <form action="{% url 'bulk_add_event' %}" method="get">
        <button class='pagewidth bulk_add_event'>
            Add Event
        </button>
    </form>
    <p>
        <h3>Upcoming Important Dates</h3>
        <table>
            {% for upcoming in upcoming_milestones %}
                <tr>
                    <td>&#8226 <i>{{upcoming.description}}:</i> {{upcoming.date}}</td>
                </tr>
            {% endfor %}
        </table>
    </p>
    <p>
        <h3>Recent Important Dates</h3>
        <table>
            {% for recent in recent_milestones %}
                <tr>
                    <td>&#8226 <i>{{recent.description}}:</i> {{recent.date}}</td>
                </tr>
            {% endfor %}
        </table>
    </p>


    {% if contacts_list %}
        <h3> Contacts List </h3>
        {% for contact in contacts_list %}
        <form action="{% url 'contact_details' contact.id %}" method="get">
            <button class='pagewidth'>
                <b>{{contact.name}}</b> <br>
                Most Recent Event: {{contact.most_recent_event.date}}
            </button>
        </form>
        {% endfor %}

    {% else %}
        <p>No contacts exist.</p>
    {% endif %}

    <form action="{% url 'add_contact' %}", method="get">
        <button class='add'>Add Contact</button>
    </form>
{% endblock content %}
