{% extends "contacts_app/base.html" %}
{% block title %}{{formtype}} Page{% endblock title %}

{% block content %}

        <h2>{{formtype}}</h2>
        <form action="{{submit}}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class="nav">Save</button>
        </form>

        <form action="{{back}}" method="get">
            <button class="nav"> Cancel </button>
        </form>
        {% if delete %}
            <form action="{{ delete }}", method="get">
                <button class="nav">DELETE</button>
            </form>
        {% endif %}
    </body>

{% endblock content %}
